@model MVCInterProject.Models.Shipping

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shipping</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiCreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiCreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiMass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiMass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiPackage.PacId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
