@model MVCInterProject.Models.Package

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacCreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacCreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacIsOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacIsOpen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacCloseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacCloseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacCity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PacId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
